{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Arte Laguna{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-red">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/logo_artelagunaprize.jpg' %}" alt="ArteLaguna Prize 2017-18">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">12TH EDITION
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TERMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ENTRIES</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                EXHIBITIONS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Finalist Artists Exhibitions</a>
                <a class="dropdown-item" href="#">Special Prices Exhibitions</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Panel główny</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Zarejestruj się</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <div id="page-container">
      <div id="content-wrap">
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer id="footer">
      <div class="container-fluid text-center">
        <p>
          <strong>Premio Arte Laguna</strong> | +39 041 5937242 int.4 | info@artelagunaprize.com |
          VAT 04161690260 |
          <a href="/cookies-policy" class="link-secondary">
            <span>Cookies Policy</span>
          </a> |
          <a href="/privacy-policy" class="link-secondary">
            <span>Privacy Policy</span>
          </a>
          <br>
          <br>
          <a href="/partner">
            <img src="{% static 'img/patrocini-home.png' %}" alt="Patronage" class="img-fluid" />
          </a>
        </p>
      </div>
    </footer>
  </div>
</body>

</html>