{% extends 'base.html' %} {% block content %}
<div style="background-color: #D3D3D3; padding: 20px;">
  <div class="container-fluid" style="padding: 20px; margin-bottom: 20px; background-color: #fff">
    <h1 style="font-size: 25px; color: #F44336 !important;">Enrollment to the 12th International Art Prize Arte Laguna</h1>
    <h3 style="font-size: 25px;">Deadline Extended to December 18th</h3>
  </div>
  <div class="container-fluid" style="padding: 20px; margin-bottom: 20px; background-color: #fff">
    <h5 style="font-size: 17px; color: #F44336 !important;">PROFIL</h5>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
          <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2>
                {{ user.first_name }} {{ user.last_name }}
                <a type="button" class="btn btn-info" href="{% url "updateProfile" %}">EDIT</a>
            </h2>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="alert alert-light" role="alert">
                email
              </div>
            </div>
            <div class="col-md-6">
              <div class="alert alert-light" role="alert">
                {{ user.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}