.jumbotron {
    background-image: url("img/bg.jpg");
    background-color: #17234E;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.container-fluid{
    width: 1200px;
    max-width: 100%;
}
.color-red {
    background-color: #cd0000;
    padding: 15px;
    height: 120px;
}
.bottom-menu {
    color: #fff;
    text-decoration: none;
     text-transform:uppercase;
}
.col-sm-4{
    margin-bottom: 15px;
}
.gkEventsListProgress{
    background: #e5e5e5;
    height: 3px;
    margin-left: 16px;
    position: relative;
    top: -2px;
    width: 50px;
}
form
{
    margin-left: 0px;
    margin-right: 0px;
}
.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
      
  }