{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #de1a22 !important
         }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ArteLaguna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">12TH EDITION
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TERMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ENTRIES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        EXHIBITIONS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Finalist Artists Exhibitions</a>
                        <a class="dropdown-item" href="#">Special Prices Exhibitions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT US</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="background-color: #de1a22; padding:20px 0px 20px 0px;">
        <div class="container-fluid">
            <img src="{% static 'img/logo_artelagunaprize.jpg' %}" alt="ArteLaguna Prize 2017-18" width="130" height="81">
        </div>
    </div>
    <div style="background-color: #D3D3D3; padding: 20px;">
        <div class="container-fluid" style="padding: 20px; margin-bottom: 20px; background-color: #fff">
            <h1 style="font-size: 25px; color: #F44336 !important;">Enrollment to the 12th International Art Prize Arte Laguna</h1>
            <h3 style="font-size: 25px;">Deadline Extended to December 18th</h3>
        </div>
        <div class="container-fluid" style="padding: 20px; margin-bottom: 20px; background-color: #fff">
            <h5 style="font-size: 17px; color: #F44336 !important;">INFORMATION</h1>
                <form>
                    <fieldset disabled>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Karol">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSurname" placeholder="Kowalski">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputBirthDate" class="col-sm-2 col-form-label">Date of birth</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="inputBirthDate" placeholder="26-01-1995">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="InputPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="InputPhone" placeholder="+48 123 456 789">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="InputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="InputEmail" placeholder="220985@student.pwr.edu.pl">
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
        <div class="container-fluid text-center" style="padding: 20px 30px 20px; margin-bottom: 20px; background-color: #fff">
            <h1 style="font-size: 17px; color: #F44336 !important;">ADD ART WORK</h1>
            <button type="button" class="btn btn-success">+ Paint</button>
            <button type="button" class="btn btn-success">+ Sculpture</button>
            <button type="button" class="btn btn-success">+ Photograph</button>
            <button type="button" class="btn btn-success">+ Virtual Art</button>
            <button type="button" class="btn btn-success">+ Video Art</button>
            <button type="button" class="btn btn-success">+ Performence</button>
            <button type="button" class="btn btn-success">+ Land Art</button>
            <button type="button" class="btn btn-success">+ Digital graphics</button>
            <button type="button" class="btn btn-success">+ Urban Art</button>
        </div>
    </div>
    <div style="background-color: #de1a22;">
        <footer class="container-fluid text-center">
            <p>
                <strong style="color:#fff" ;="">Premio Arte Laguna</strong> | +39 041 5937242 int.4 | info@artelagunaprize.com | VAT 04161690260 |
                <a href="/cookies-policy">
                    <span style="color:#fff">Cookies Policy</span>
                </a> |
                <a href="/privacy-policy">
                    <span style="color:#fff">Privacy Policy</span>
                </a>
                <br>
                <br>
                <a href="/partner">
                    <img src="{% static 'img/patrocini-home.png' %}" alt="Patronage" border="0" class="img-responsive" style="margin: 0 auto 0 auto;">
                </a>
            </p>
        </footer>
    </div>
</body>

</html>