{% extends 'base_form.html' %}
{% load bootstrap4 %}

{% block content %}
<h5 style="font-size: 17px; color: #F44336 !important;">INFORMATION</h1>
    <form method="POST">{% csrf_token %} 
        {% bootstrap_form form %}

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I declare that I have read and accepted all the rules of the Arte Laguna Prize Regulations published on the site
                www.artelagunaprize.com</span>
        </label>
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I Autorize MoCa Association to use my information as the Italian Privacy Law 675/96 and D.Lgs. 196/2003, also
                for the purpose of inclusion in databases operated by The Organization. </span>
        </label>
        {% buttons %}
            <button type="submit" class="btn btn-primary">NEXT -></button>
        {% endbuttons %}
    </form>
{% endblock %}